# Betriebssystem (entweder "windows" für Windows oder "mac" für MacOS)
OS="mac"

# Eine durch Komma getrennte Liste der zu verwendenden Exasol-Datenbank-Namen
EXASOL_DATABASES="EXASOL_PROD,EXASOL_DEV"

# Konfiguration für die erste Exasol-Datenbank
EXASOL_PROD_HOST="your_prod_host"
EXASOL_PROD_PORT="xxxx"
EXASOL_PROD_USER="your_prod_user"
EXASOL_PROD_PASSWORD="your_prod_password"

# Konfiguration für die zweite Exasol-Datenbank
EXASOL_DEV_HOST="your_dev_host"
EXASOL_DEV_PORT="xxxx"
EXASOL_DEV_USER="your_dev_user"
EXASOL_DEV_PASSWORD="your_dev_password"